<div class="text-center mt-12">
  <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
    Mirzalazuardi Hermawan
  </h3>
  <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
    <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
    <%= link_to "Bandung, Indonesia", "https://www.google.com/maps/place/Bandung,+Kota+Bandung,+Jawa+Barat/@-6.9034495,107.6431575,12z/data=!3m1!4b1!4m6!3m5!1s0x2e68e6398252477f:0x146a1f93d3e815b2!8m2!3d-6.9174639!4d107.6191228!16zL20vMDF6bGw4?entry=ttu", target: :_blank %>
  </div>
  <div class="mb-6 text-blueGray-600 mt-10">
    <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>Web Developer - Ruby on rails
  </div>
  <%= link_to "About", root_path, class: "inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline", data: { turbo_frame: '_top' } %> |
  <%= link_to "CV", cv_path, class: "inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
</div>
