<div class="text-center mt-12">
  <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
    Mirzalazuardi Hermawan
  </h3>
  <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
    <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
    Bandung, Indonesia
  </div>
  <div class="mb-2 text-blueGray-600 mt-10">
    <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>Web Developer - Ruby on rails
  </div>
</div>
