<p class="mb-4 text-lg leading-relaxed text-blueGray-700">Hello there! 
I'm Mirza, a passionate and versatile professional with over 
6 years of experience as a Ruby on Rails Developer, complemented by 
DevOps skills.
</p>

<div class="hidden">
<p class="mb-4 text-lg leading-relaxed text-blueGray-700">As a Ruby on Rails 
Developer, I thrive on transforming ideas into reality. Throughout my journey,
I have honed my craft in crafting robust web solutions that are not only 
efficient but also user-friendly. My in-depth understanding of the Ruby 
programming language and the Ruby on Rails framework enables me to tackle 
complex challenges head-on, delivering high-performance applications that 
exceed expectations.</p>

<p class="mb-4 text-lg leading-relaxed text-blueGray-700">But my expertise 
doesn't stop there. Embracing the power of DevOps, I have streamlined and 
automated deployment processes, while managing cloud infrastructures with ease.
My proficiency with tools like Capistrano and Docker ensures swift and 
seamless delivery, enhancing the overall efficiency of projects.</p>

<p class="mb-4 text-lg leading-relaxed text-blueGray-700">I am fueled by 
curiosity and embrace a continuous learning mindset. Staying up-to-date with 
the latest trends and technologies in both Ruby on Rails development and 
DevOps allows me to bring cutting-edge solutions to the table.</p>

<p class="mb-4 text-lg leading-relaxed text-blueGray-700">What truly sets me 
apart is my ability to collaborate seamlessly with cross-functional teams. 
I believe in the power of collective intelligence, valuing every perspective 
and contributing positively to achieve remarkable results.</p>

<p class="mb-4 text-lg leading-relaxed text-blueGray-700">As I embark on new 
opportunities, I am eager to make a lasting impact, turning challenges into 
possibilities. Let's connect and explore how we can unleash the potential for 
growth and success together.</p>

<p class="mb-4 text-lg leading-relaxed text-blueGray-700">Are you ready to 
take the next step? Let's talk!</p>
</div>
